/*RESETEO*/
* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
  }

  
/*BODY*/
body {
    text-align: center; 
    font-family: 'Inter', sans-serif; 
    }

h2 {
    color: #0c0636; 
    font-size: 45px;
    padding-bottom: 20px;
    font-family: 'Skranji', cursive;
}
   
    /*HEADER*/
.header {
    display: flex; 
    justify-content:space-between; 
    align-items: center;
    height: 85px;
    padding: 5px 10%; 
    width: 100%;
    background: #0c0636;
    position: fixed;
    top: 0;
}

.header .logo img {
    width: auto; 
    height: 70px;
    transition: all 0.3s;
    border-radius: 50%;
   }
.header .logo img:hover {transform: scale(1.2);}
.header .navbar li a:hover {color:aqua;}
        
 /*Barra de Navegacion*/
.header .navbar li {
    display: inline-block;
    /* padding:20px; */
   }

/* .navbar {
    height: 50px;
    background-color:#095169;
   } */

.navbar a {
    color:white; 
    padding: 0 20px;
    text-decoration: none;
    font-weight: 200;
    /* text-transform: uppercase; */
    font-size: 20px;
    font-family: 'Skranji', cursive;
    /* list-style: none; */
}

          
 /*MAIN*/

    /*quines somos*/

    .content {
        padding:85px 0;
    }
    
    .who {
        display: inline-block;
        /* background-image: url(imagenes/oceano.jpg); */
        background-image: url(imagenes/vista-superior-arena-al-encuentro-agua-mar.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        /* color: white; */
        /* margin: 50px; */
        padding-top: 200px;
        /* border-radius: 10px; */
     }
    .who {
        /* max-width: 1055px; */
        margin: auto;
        padding-right: 200px;
        padding-left: 200px; 
        font-size: 30px;
        font-family:'Inter', sans-serif ;
    }
    .contenedor {
        display:flex; 
        justify-content: center;
        align-items: center;
        font-family: 'Skranji', cursive;
    }
    
    /*servcios*/
    /* .services { */
        /* background-color: #689195;  */
        /* color:white; */
        /* margin: 50px; */
        /* border-radius: 10px; */
    /* } */

     .list-services {
        justify-content:space-around;
        align-items: center;
        list-style: none;
        display: flex;
        padding: 20px;
        margin: 25px; 
     }
     .list-services a{
        display: flex; 
        justify-content: center;
        align-items: center;
        text-decoration:none;
        font-size: 30px;
        color: #0c0636; 
<<<<<<< HEAD
        font-family: 'Skranji', cursive;
=======
>>>>>>> b0fa673d1862822a2594052596ae3b8c32a64206
     }
    .list-services a:hover {transform: scale(1.2);color:#095169;}
    /* .servicios {
        background-color: #0c0636; 
        border-radius: 15px;
     } */
     .list-services img {width: 120px;height: 100px; padding: 15px; display: flex;}
     .list-services img:hover {transform: scale(1.2);color:#095169;}
    
     .servicio1 {
        padding: 35px; 
        margin: auto;
        background-color:#0c0636;
        border-radius: 15px;
        width: 700px;
        height: 200px;
        /* background-color:black; */
        text-align: center;
       
    }
    .servicio2 {
        padding: 35px; 
        margin: 0px 10px;
        background-color:#0c0636;
        border-radius: 15px; width:500px;
        width: 700px;
        height: 200px;
        /* background-color:black; */
        text-align: center;
        
    }
    /*slider*/
    .slider-frame {
        /* width: 1000px; */
        height: 400px;
        margin: 10px 0 0 0;
        overflow: hidden;
    }
    
    .slider-frame ul {
        display: flex;
        padding: 0;
        width: 400%;
        
        animation: slide 20s infinite alternate ease-in-out;
    }
    
    .slider-frame li {
        width: 100%;
        list-style: none;
    }
    
    .slider-frame img {
        width: 100%;
    }
    
    @keyframes slide {
        0% {margin-left: 0;}
        20% {margin-left: 0;}
        
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
        
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
        
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }
    /*Promociones*/
    .promociones {
        /* background-color:darkcyan;  */
        box-shadow:10px 5px 5px grey;
        color:black;
        font-size: 20px;
        width: 800px;
        height: 620px;
        padding: 20px;
        margin: auto;
        margin-top: 20px; 
        border-radius: 45px;
        }
        .promociones:hover {transition:3s;background: url(imagenes/playa.avif);background-position: center;
            background-repeat: no-repeat;
            background-size: cover;}
    .promociones h3 {
        font-family: 'Skranji', cursive;
        font-size: 45px;
        color: #0c0636;
        text-align: center;
        }
    .opciones {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
       }
    .opciones:hover {cursor: pointer;}
    .p-form-1 {
        text-align: center; 
        font-size: 12px; 
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: oblique; */
        color: black;
      }
    .boton-1 {
        /* border-color: blue solid;  */
        margin: 0px;
        width: 50%; 
        height: 50px;
        border-radius: 10px;
        padding: 5px; 
        color: white;
        background-color: #0c0636;
     }
     
    .title{
        margin-top: 50px;
    }

    .promo{
        width: 90%;
    }


    /*localizacion*/

    .content-localization {
        /* background-color: #689195;  */
        margin: 50px;
        border-radius: 10px;
        text-align: center;
    }
    .ubicacion { 
        background-color: #0c0636;
        margin: 10px;
        padding: 20px 130px 20px 130px;
        border-radius: 10px;
        font-size: 16px;
    }
    /* .boton {
        background-color: black;
    } */

    p {
        color: white;
    }
    
    .localizacion {
        width: 700px; 
        height: 350px;
        border-radius: 15px;
    }

/*Formulario*/
.formulario1 {
    /* background:#095169; */
    /* color: white; */
    margin: 20px;
    /* border-radius: 15px; */
    }
.formulario {
    box-shadow:10px 5px 5px grey;
<<<<<<< HEAD
    background-color:#095169;
=======
>>>>>>> b0fa673d1862822a2594052596ae3b8c32a64206
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    /* background-color: #689195; */
    margin: 50px;
    border-radius: 10px;
    padding-bottom: 20px;
    }
.formulario--label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    }
.formulario--input {width: 80%;}
.formulario--input:focus {
    border: 3px solid black;
    outline: none;
    }
.formulario--input-error p {
    font-size: 12px;
    margin-bottom: 0px;
    display: none;}
.formualrio--input-error-activo {display: block;}
.formulario--checkbox {margin-right: 10px;}
.formulario--grupo.formu-terminos {grid-column: span 2;}
.formulario--mensaje-exitoso {grid-column: span 2;}
.formulario--grupo-btn-enviar {grid-column: span 2;}
.formulario--grupo-btn-enviar {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    }
.formulario--btn {
    height: 45px; 
    line-height: 45px; 
    width: 30%; 
    background-color: #0c0636; 
    color:white ; 
    border-radius: 15px; 
    font-size: 25px; 
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font: 700;  */
    cursor: pointer;
    transition: .1s ease all; 
   }
.formulario--btn :hover {
    box-shadow: 300px 20px 300px black;}
.formulario--mensaje-exitoso {
    font-size: 16px; c
    color: yellowgreen;
    display: none;
  }
.formulario--mensaje-exitoso-activo {display: block;}

/* estilos de validacion*/
.formulario--grupo-correcto {color:green opacity:1} 
.formulario--grupo-incorrecto .formulario--label {color: red}
.formulario--grupo-incorrecto .formulario--input {border: 3px solid red;}

/*footer*/
.pie {background-color:#0c0636;}
.pie1 {
    justify-content:left;
    display:inline-block;
    padding: 20px;
    /* margin: 25px;    */
    list-style:none;
  }
.pie1 a {
    text-decoration:none;
    color: white;
  }
.pie1 a:hover {color: aqua;}
.footer {
    justify-content:center; 
    align-items: center;
    list-style: none;
    display: flex; 
    padding: 20px;
    margin: 25px;
   }
    .footer a {
        display: flex; 
        justify-content: center;
        align-items: center;
        text-decoration:none;
        font-size: 15px;
        color: aliceblue;
    }
    .footer a:hover {transform: scale(1.2);}
    .footer li img { 
        padding: 20px; 
        cursor: pointer;
    }
    .footer li img:hover {transform: scale(1.2);}

